<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% include "Seeker/Links.html" %}
</head>
<body>
    {% include "Seeker/Header.html" %}
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table align="center" border="1" cellpadding="10" style="border-collapse: collapse;">
            <tr>
                <td>Complaint Type</td>
                <td><select name="slctComplaint" id="slctComplaint">
                    <option value="">..Select..</option>
                    {% for data in complaint %}
                    <option value="{{data.id}}">{{data}}</option>
                    {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>Complaint Title</td>
                <td><input type="text" name="txtComplaint"></td>
            </tr>
            <tr>
                <td colspan="2"><textarea name="txtareaComplaint" id="txtareaComplaint" cols="40" rows="10"></textarea></td>
            </tr>
            <tr>
                <td><input type="submit" value="Submit"></td>
            </tr>
        </table>
    </form>
    <br><br><br><br><br><br><br><br><br><br>
    {% include "Seeker/Footer.html" %}
</body>
</html>