<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table align="center" border="1" cellpadding="10" style="border-collapse: collapse;">
        <tr>
            <td>Question</td>
            <td>Answer</td>
        </tr>
        {% for data in attemptedQuestions %}
        <tr>
            <td>{{ data.TestQuestion.TestQuestions}}</td>
            <td>{{ data.TestAnswer}}</td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="2" align="center">
                <form action="" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Accept">
                </form>
            </td>
        </tr>
    </table>
    
</body>
</html>